@font-face {
    font-family:'IndieFlower';
    src: url('IndieFlower-Regular.ttf');
    font-weight: normal;
    font-style: normal;
 }

 :root{
    --header-height: 60px;
 }

body * {
    position: relative;
    box-sizing: border-box;
    display: block;
}

script {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    transition: 0.3s ease all;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

body::-webkit-scrollbar{
    display: none;
}

main,
header,
footer
{
    width: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--header-height));
}

main > .container{
    padding-top: calc(var(--header-height) * 2);
    padding-bottom: calc(var(--header-height) * 1);
}

header{
    height: var(--header-height);
    position: fixed;
    z-index: 100;
    display: flex;
    background-color: #333;
}

header .container{
    height: 100%;
}

footer{
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #333;
}

footer p{
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
}

li {
    float: left;
    height: 100%;
    margin-right: 12px;
    padding:  12px 0;
}

li a {
    display: block;
    background-color: #111;
    text-align: center;
    padding: 0 40px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

li a:hover{
    background-color: white;
    color: #111;
}

a,
a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

div {
    width: 100%;
    float: left;
}

h1 {
    padding: 15px;
    float: left;
    font-family: IndieFlower;
}

p:last-of-type {
    margin: 0;
}

.container{
    padding: 0;
}

.row{
    max-width: 100%;
    margin: 0;
}

.card-wrap {
    background-color: #333;
    text-align: center;
    display: block;
    padding: 40px 16px;
    text-decoration: none;
    margin-bottom: 12px;
    transition: 0.5s ease all;
}

.card-wrap:hover{
    background-color: #111;
    scale: 0.98;
}

.card-wrap:last-of-type{
    margin-bottom: 0;
}



/* Responsive columns */

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 786px) {

}
